@import "tailwindcss";

@layer base {
  button {
    @apply cursor-pointer;
  }

  html,
  body {
    @apply bg-zinc-950 text-zinc-100;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-zinc-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-linear-to-b from-blue-600 to-violet-600;
  }
}
